* {
  margin: 0;
  padding: 0;
  font-size: 0;
}

main {
  align-content: center;
  justify-content: center;
  height:100vh;
  background-color: lightblue;
  padding:10px;
}

h1 {
  font-size: 30px !important;
}
h2{
  font-size: 20px !important;
}

#spacer, #spacer2{
  margin-top: 30px;
}

#currentSelector{

}

.curentColor {
  border: 1px dotted black;
  border-spacing: center;
}

.row {
  display: block;
}

.square {
  display: inline-block;
  border: 1px dotted black;
  rgba(255,255,255,0.5);
  width:20px;
  height: 20px;
}

.pallet{
  display: inline-block;
  rgba(255,255,255,0.5);

  width:50px;
  height: 50px;
}
.color1 {
  background-color: red;
}
.color2 {
  background-color: orange;
}
.color3 {
  background-color: yellow;
}
.color4 {
  background-color: green;
}
.color5 {
  background-color: blue;
}
.color6 {
  background-color: indigo;
}
.color7 {
  background-color: violet;
}
.color8{
  background-color: white;
}
